* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #50abe4;
    --gray-color: #d3d3d3;
    --yellow-color: #f5be19;
    --blue-weak-color: #edf6ff;
    --gray-weak-color: #f7f8fa;
    --blue-strong-color: #58baff;
    --red-color: #ff0000;

    --border-default: 1px solid var(--gray-color);
    --gap-default: 25px;

    --default-transition: 0.50s ease;
    --eerie-black: hsl(0, 0%, 13%);
    --radius-default: 2px;

    --box-shadow-default: 0px 4px 8px rgba(0, 0, 0, 0.1);

    /* z-indexs */

    --nav-bar-index-fixed: 100;
}

