.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 20px;
}

.content-items {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media ( max-width: 858px ) {
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .content-items {
        width: 450px;
        margin-left: 10px;
        margin-top: 100px;
    }
}