.path-product {
    width: 100%;
    height: 40px;
    background-color: var( --gray-weak-color );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.path-product-directory {
    color: var(--primary-color);
    font-weight: 700;
}

.path-product-name {
    font-weight: 700;
    margin-left: 5px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

.container-center {
    width: 60%;
    height: inherit;
    display: flex;
    margin-top: 45px;
}
.image-product-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image-product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left {
    width: 50%;
    position: relative;
    height: auto;
}

.img-item {
    width: 300px;
    height: 300px;
}

#img-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.informations-product{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score-product{
    display: flex;
    gap: 10px;
}

.name-product {
    font-weight: 700;
    font-size: 25px;
}

.reviews-product {
    color: var( --gray-color );    
}

.row-separator{
    width: 100%;
    height: 1px;
    background-color: var(--gray-color);
}

.value-title-product{
    font-size: 20px;
    display: flex;
    gap: 10px;
    font-weight: 700;
}

.value-informations-product{
    font-size: 15px;
    font-weight: normal;
}

.value-align-product{
    display: flex;
    align-items: center;
    gap: 10px;
}

.value-price-product {
    font-size: 25px;
    font-weight: 700;
    color:#00d700;
}

.value-discont-product {
    font-size: 20px;
    font-weight: 700;
    text-decoration: line-through;
    color: var( --gray-color );
}

.book-physical {
    width: 150px;
    height: 50px;
    border-radius: var( --radius-default );
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    background-color: var( --gray-weak-color );
    font-weight: 700;
}

.book-physical:has(input[type="radio"]:checked) {
    background-color: var( --blue-weak-color );
    color: var( --blue-strong-color );
}
  
.books-types{
    display: flex;
    gap: 20px;
}

.button-cart {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: var( --radius-default );
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    background-color: var( --blue-weak-color );
    font-weight: 700;
    color: var( --blue-strong-color );
    padding: 10px;
}

.button-cart > i {
    font-size: 20px;
}

.button-quantity-product{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 150px;
    justify-content: space-between;
}

.button-icon {
    width: 50px;
    height: 50px;
    background-color: var( --gray-weak-color );
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: var(--blue-strong-color);
}

.path-product > div {
    display: flex;
    position: absolute;
    margin-right: 80px;
}

.button-icon:hover {
    background-color: var(--blue-weak-color);
}

.buttons-actions-container{
    display: flex;
    gap: 20px;
}

.button-image {
    width: 60px;
    height: 60px;
    border: none;
    padding: 5px;
    background-color: var(--gray-weak-color);
}

.button-image:hover {
    background-color: var(--blue-weak-color);
}

.button-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.select-image-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.input-shipping-content {
    width: 250px;
    height: 50px;
    background-color: white;
    display: flex;
    border: var( --border-default );
    border-radius: var( --radius-default );
}

.input-shipping-content input[type="text"] {
    border: none;
    width: 500px;
    height: 50px;
    margin-left: 10px;
}

.input-shipping-content input[type="text"]:focus {
    border: 0 none;
    outline: 0;
}

.calculate-shipping {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.calculate-shipping > span {
    font-size: 18px;
    font-weight: 700;
}

.calculate-shipping-align {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.calculate-shipping-align .button-icon {
    font-size: 16px;
}


@media screen and ( max-width: 1000px ) {
    .container-center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .container-left {
        width: 100%;
        position: unset;
    }

    .calculate-shipping{
        position: unset;
    }

    .informations-product {
        width: 100%;
    }

    .img-item {
        width: 250px;
        height: 250px;
    }

    .button-image {
        width: 45px;
        height: 45px;
    }
}

@media ( max-width: 852px ){
    .path-product{
        margin-top: 30px;
    }

    .button-icon{
        width: 50px;
    }

    .input-shipping-content{
        width: 225px;
    }

    .button-quantity-product {
        width: 100px;
    }

    .button-quantity-product button {
        width: 25px;
    }
}